.portfolio {
  padding: 4rem 2rem;
  background-color: #000;
  color: #fff;
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: left;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  @media (max-width: 992px) {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 600px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }

}


