.skills {
  padding: 0rem 2rem;
  background: #000;
  color: #fff;
  max-width: 1530px;
  margin: 0 auto;

  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    // @media (max-width: 768px) {
    //   grid-template-columns: 1fr;
    // }
  }

  @media (max-width: 992px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 600px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
